.o-leftBorder {
  width: 34px;

  .m-leftBorder-number-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .a-leftBorder-number {
      font-size: 24px;
    }

    .green {
      color: greenyellow;
      font-weight: bold;
    }
  }
}