<div class="o-cell">
  <ng-container *ngIf="robot">
    <img *ngIf="getArrow(robot.direction, Direction.NORTH)" class="m-cell-topArrow" src="../../../../../assets/up-arrow.svg" alt="My Happy SVG" />
    <img *ngIf="getArrow(robot.direction, Direction.EAST)" class="m-cell-rightArrow" src="../../../../../assets/right-arrow.svg" alt="My Happy SVG" />
    <img *ngIf="getArrow(robot.direction, Direction.SOUTH)" class="m-cell-downArrow" src="../../../../../assets/down-arrow.svg" alt="My Happy SVG" />
    <img *ngIf="getArrow(robot.direction, Direction.WEST)" class="m-cell-leftArrow" src="../../../../../assets/left-arrow.svg" alt="My Happy SVG" />
    <img *ngIf="robot" class="m-cell-robot" src="../../../../../assets/robot.svg" alt="My Happy SVG" />
  </ng-container>
</div>