:host {
  border-left: 2px solid black;
}

.o-rightBar {
  .m-rightBar-title {
    text-align: center;
  }

  .m-rightBar-report {
    text-align: center;
    color: greenyellow;
  }

  .m-rightBar-error {
    text-align: center;
    color: red;
  }
}