.o-lowerBorder {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  .m-lowerBorder-number-container {
    width: 150px;
    text-align: center;

    .a-lowerBorder-number {
      font-size: 24px;
    }

    .green {
      color: greenyellow;
      font-weight: bold;
    }
  }
}