:host {
  display: grid;
  justify-content: center;
  align-items: center;
}

.o-field {
  display: grid;
  grid-template-columns: min-content auto;

  .m-field-main {
    display: grid;
    grid-template-columns: repeat(5, auto);
    border: 3px solid black;
  }
}